*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}
.Nav_Container{
 width: 100%;
  background-color:#1b2430;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px ;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
 
}
#navitems{
  display: flex;
  gap:15px;
  justify-content: center;
  align-items: center;
}
.Nav_Container li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.Nav_Container li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}
.Nav_Container li a:hover{
  color: #17cf97;
}
.Nav_Container li a:hover::after{
  content: "";
  width: 60%;
  height: 2px;
  background:  #17cf97;
  position: absolute;
  bottom: -5px;
  left: 20px;
}
/* .slide-in-top {
	animation: slide-in-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes slide-in-top {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
} */

#mobile{
  display: none;
}
#mobile i{
  color: white;
  font-size: 30px;
}
.intro{
  display: grid;
 
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  
  color: white;
}
.intro>div>h4{
  color: white;
  font-size: 20px;
  font-weight: bold;
    }
    .intro>div>h1{
      color: white;
      font-size: 80px;
      font-weight: bold;
    }
    .intro>div>h2{
      color:yellow;
      font-size: 60px;
      font-weight: bold;
    }

.name{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 40px blue, 0 0 50px darkblue;
}
.name1{
  color: rgb(246, 252, 247);
  text-shadow: 1px 1px 2px black, 0 0 10px rgb(0, 162, 255), 0 0 5px rgb(49, 245, 10);
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 25px;
  padding: 2px;
  padding-bottom: 5px;
}

.about{
  display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 100px auto;
 justify-content: center;
 
  background-color: #1b2430;
  color: white;
  font-weight: bold;
height: auto;
width: 100%;
}
.about>div>h1{
  font-size: 37px;
  text-align: center;
}
.aboutgrid{
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
 background-color:#1b2430;
  color: white;
}
.aboutgrid>div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 2px;
  height: 500px;
  width: 550px;
  background-color:#1b2430;
 
}
.aboutgrid>div>img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.skill{
  display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 100px auto;
 justify-content: center;
 align-items: center;
  background-color: #000000;
  color: white;
  font-weight: bold;
height: auto;
width: 100%;
padding: 10px;
}
.skill>div>h1{
  font-size: 37px;
  text-align: center;
}
.skillsbox{
width: 150px;
height: 200px ;
border-radius: 10px;
background-color: rgb(76, 81, 82);
display: grid;
grid-template-columns: 100%;
grid-template-rows: 80% 20%;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 10px;

}
.skillsbox:hover{
  box-shadow: rgba(63, 157, 245, 0.35) 25px 15px 150px;
  background-color: gray;
}
.skillsimg{
  display: grid;
  grid-template-columns: repeat(5,19%);
  justify-content: center;
  align-items: center;
 
}
.project{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  justify-content: space-around;
  align-items: center;
  background-color:#1b2430;
  color: white;
  font-weight: bold;
  height: auto;
  width: 100%;
  text-align: center;
  gap: 10px;
}
.project>div>h1{
  font-size: 30px;
}

.projectbox{
  width: 600px;
  height: 650px ;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
 
  margin-top: 5px;
  color: #000000;
  justify-content: center;
padding: 10px;
  align-items: center;
  }
  .projectbox:hover{
    box-shadow: rgba(63, 157, 245, 0.35) 25px 15px 150px;
    background-color: gray;
    color: white;
  }

  .showbox{
    display: grid;
    grid-template-columns: repeat(2,45%);
    gap: 10px;
    justify-content: center;
    align-items: center;
   
  }
  .projectbox>div:nth-child(1){
  
    margin-top: 60px;
  }
  .projectbox>div:nth-child(2){
   text-align: justify;
   margin-top: 60px;
   font-size: 15px;
   padding: 5px;
  }
.calender{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  color: white;
  font-weight: bold;
  height: auto;
  width: 100%;
  padding: 10px;
}
.contact>h1{
  font-size: 30px;
}
.contact{
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-around;
  align-items: center;
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 500px;
  width: 100%;
  gap: 50px;
}


.button-21 {
  align-items: center;
 
  background-color: #3EB2FD;
 
  border-radius: 100px;
 
  color: #FFFFFF;
  cursor: pointer;
  
  font-family: CircularStd,sans-serif;
 margin-top: 5px;
 
  padding: 6px 20px;

  
}
.button-22 {
  align-items: center;
 
  background-color: #202C59;
 
  border-radius: 10px;
  width: 80%;
  height: 80px;

  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-family: CircularStd,sans-serif;
 margin-top: 5px;
 font-size: 20px;
  padding: 6px 20px;

  
}
.github{
  display: flex;
  justify-content: center;
  height: 100px;
  gap: 30px;
  margin-top: 10px;


  
}
input{
  border: 1px solid gray;
  border-radius: 10px;
  height: 40px;
  width: 80%;
}
textarea{
  border: 1px solid gray;
  border-radius: 10px;
  height: 200px;
  width: 80%;
  margin: 5px;
}
.contactdetail{
display: grid;
grid-template-columns: 25% 45% 25%;
gap: 5px;
justify-content: space-evenly;
align-items: center;
}
.contactdetail>div{
 
display: flex;
justify-content: center;
align-items: center;
}
/* .contactbox{

} */

@media screen and (max-width:1000px) {
  .Nav_Container{
    width: 100%;
     background-color:#1b2430;
     position: sticky;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 40px ;
     box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    animation-delay: 0.5s;
   }
  #navitems{
    display: flex;
   flex-direction:column;
   align-items: flex-start;
    justify-content: flex-start;
 position: fixed;
 top: 90px;
 right: -300px;
 width: 300px;
 height: 100vh;
 background: #2a3239;
 box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
 padding: 40px 0 0  10px;
 transition: 0.3s  ease-in-out; 

  }
  #navitems.active {
    display: flex;
   flex-direction:column;
   align-items: flex-start;
    justify-content: flex-start;
 position: fixed;
 top: 90px;
 right: 0px;
 width: 300px;
 height: 100vh;
 background: #2a3239;
 box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
 padding: 40px 0 0  10px;
 transition: 0.3s  ease-in-out;
  }
  #navitems li{
    margin-bottom: 25px;
  }
  #mobile{
    display: block;
  }
  .intro{
    display: grid;
   
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: repeat;
    color: white;
  }
 
  
  
  .aboutgrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
   
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    background-color:#1b2430;
    
    color: white;
  }
  
 
  .aboutgrid>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1b2430;
    height: 500px;
    width: 550px;
  margin: auto;
   
  }
  .aboutgrid>div:nth-child(2){
    background-color:#1b2430;
   margin: auto;
  text-align: center;
  font-size: 25px;
  }
  .aboutgrid>div>img{
    width: auto;
    height: auto;
    border-radius: 50%;
  }
  .aboutgrid>div>div>h1{
  font-size: 30px;
  }
  .skillsimg{
    display: grid;
    grid-template-columns: repeat(3,29%);
    justify-content: center;
    align-items: center;
  }
  .showbox{
    display: grid;
    grid-template-columns:90%;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
  }
  .projectbox{
   width: 90%;
    height:auto;
   align-items: center;
   justify-content: center;
   margin: auto;
   
    padding: 25px;
    }
    .skillsbox{
      width:95%;
      height: 250px ;
     
      
      }
      
      .projectbox>div:nth-child(1){
       
      
        padding: 5px;
      }
      .projectbox>div:nth-child(2){
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        padding: 5px;
       }
       .intro>div>h4{
        color: white;
        font-size: 20px;
        font-weight: bold;
          }
          .intro>div>h1{
            color: white;
            font-size: 60px;
            font-weight: bold;
          }
          .intro>div>h2{
            color:yellow;
            font-size: 40px;
            font-weight: bold;
          }
          .contactdetail{
            display: grid;
            grid-template-columns: 90%;
            gap: 5px;
            justify-content: space-evenly;
            align-items: center;
            }
            .contactdetail>div{
             
            display: flex;
            justify-content: center;
            align-items: center;
            }
  
}

@media screen and (max-width:520px) {
  .Nav_Container{
    width: 100%;
     background-color:#1b2430;
     position: sticky;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 40px ;
     box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    
   }
  #navitems{
    display: flex;
   flex-direction:column;
   align-items: flex-start;
    justify-content: flex-start;
 position: fixed;
 top: 90px;
 right: -300px;
 width: 300px;
 height: 100vh;
 background: #2a3239;
 box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
 padding: 40px 0 0  10px;
 transition: 0.3s  ease-in-out; 
 z-index: 10;
  }
  #navitems.active {
    display: flex;
   flex-direction:column;
   align-items: flex-start;
    justify-content: flex-start;
 position: fixed;
 top: 90px;
 right: 0px;
 width: 300px;
 height: 100vh;
 background: #2a3239;
 box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
 padding: 40px 0 0  10px;
 transition: 0.3s  ease-in-out;
 z-index: 10;
  }
  #navitems li{
    margin-bottom: 25px;
  }
  #mobile{
    display: block;
  }
 .aboutgrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
   
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    
    background-color:#1b2430;
    color: white;
  }
  
  .aboutgrid>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1b2430;
    height: 400px;
    width: 100%;
  margin: auto;

   
  }
  .aboutgrid>div:nth-child(2){
    background-color:#1b2430;
   text-align: justify;
   margin: 10px;
  
  }
  .aboutgrid>div>img{
    width:95%;
    height: auto;
   
    border-radius: 50%;
   
  }
  .aboutgrid>div>div>h1{
  font-size: 30px;
  }
  .intro{
    display: grid;
   
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: repeat;
    color: white;
  }
  .intro>div>h4{
color: white;
font-size: 15px;
font-weight: bold;
  }
  .intro>div>h1{
    color: white;
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
  }
  .intro>div>h2{
    color:yellow;
    font-size: 25px;
    font-weight: bold;
  }

  .skillsimg{
    display: grid;
    grid-template-columns: repeat(2,45%);
    justify-content: center;
    align-items: center;
  }
  .skillsbox{
    width:98%;
    height: 250px ;
   
    
    }
    .showbox{
      display: grid;
      grid-template-columns: 90%;
      gap: 10px;
      justify-content: center;
      align-items: center;
      
    }
    .projectbox{
      width: 100%;
      height: auto ;
     justify-content: center;
     align-items: center;
     padding: 10px;

      
      }
      .hideform{
        display:none;

      }
      .contact{
        margin: auto;
        width: 90%;
      }
      .stats{
        width:90%;
        height: auto;
        padding: 10px;
      }
      .form{
        width: 200%;
        padding: 10px;
    margin-left: 25px;
        
      }
      
      input{
        width: 90%;
      }
      .github{
        display: flex;
        justify-content: center;

        
      }
      .projectbox>div:nth-child(1){
       
        margin-top: 0px;
       
      }
      .projectbox>div:nth-child(2){
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        padding: 5px;
       }
       .contactdetail{
        display: grid;
        grid-template-columns:100%;
        gap: 5px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;

        }
.button-22{
  width: 100%;
  height: 100px;
}
        .contactdetail>div{
        
        display: flex;
        justify-content: center;
        align-items: center;
        }
       
}









/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
